<%- include('header') %>
<section id="contact" style="display: flex; flex-direction: column;">
  <div class="info" style="width: 600px; display: flex; justify-content:space-around; margin: 3rem auto;">
    <div class="email">
      <p>
        <a class="contact-a" href="mailto:brewReview@gmail.com"> <i class="bi bi-envelope"> Email</i></a>
      </p>
    </div>
    <div>
      <p>
        <a class="contact-a" href="tel:+1-510-555-5555"><i class="bi bi-phone"> Call</i></a>
      </p>
    </div>
    <div class="phone">
      <p>
        <a class="contact-a" href="sms:555-555-5555"><i class="bi bi-phone-vibrate"> Text</i></a>
      </p>
    </div>
  </div>

  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3307.306360671777!2d-118.49764928430544!3d34.010346280617355!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2a4d0d472d739%3A0xf380c2219e98c8b8!2sBig%20Dean&#39;s%20Ocean%20Front%20Cafe!5e0!3m2!1sen!2sus!4v1659502495158!5m2!1sen!2sus"
    width="600" height="450" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  <a class="edit-btn" style="margin: 2rem auto;" href="/reviews">Back</a>
</section>
<%- include('footer') %>