<%- include('header') %>
<div class="containerEdit">
    <h1 class="h1">Add Your Review</h1>
    <form class="cardEdit" action="/reviews" method="POST">

        <label>User</label>
        <input type="text" name="user" />

        <label>Location</label>
        <input type="text" name="location" />

        <label>Brewery</label>
        <input type="text" name="brewery" />

        <label>Image Link</label>
        <input type="text" name="img" />

        <label>Name</label>
        <input type="text" name="name" />

        <label>Style</label>
        <input type="text" name="style" />

        <label>ABV</label>
        <input type="number" name="abv">

        <label>Review</label>
        <input type="text" name="reviewBody" />

        <label>Score</label>
        <input type="number" max="5" name="score">

        <input type="submit" class="submit-btn" value="Submit">
    </form>
</div>
<a class="edit-btn" style="margin: 1rem auto;" href="/reviews">Back</a>
<%- include('footer') %>