*{
  padding: 0;
  margin: 0;
}

html {
  height:100%;
}


.user{
  margin: 0;
}

.title{
  margin: 0;
}

.card-image{
  height: auto;
  width: 600px;
  
} 

.cardHeader{
  display:flex;
  align-items:center;
  justify-content: space-around;


}

.middleInfo{
  margin: 10px;
}

.reviewText{
  margin: 10px;
}

.infoBottom{
  display:flex;
  justify-content: space-around;
  outline-width: 2px;
  outline-style: solid;
  outline-color: black;
  background-color: antiquewhite;
  margin: 5px;
  
  
}

.bottomPiece1{
 border-right: 2px solid black;

}



 .bottomPiece3{
  border-left: 2px solid black;
  justify-content: center;
 }

.card{
    display: flex;
    flex-direction: column;
    background-color: #e98074;
    width: 600px;
    /* Height: 600px; */ 
    margin: 10px;
    /* padding: 10px; */
    color: black;
    font-size: 15px;
    /* text-align: center; */
    box-shadow: 10px black;
    font-family: 'Poppins', sans-serif;

}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #efe2ba;
    
    /* margin-left: 160px */

}

body {
    background-color: #efe2ba;
}

.header {
    width: 100%;
    padding:60px 0;
    text-align: center;
    background: #efe2ba;
    color: black;
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
   
 
  
    
  }

  .topBar {
    width: 100%;
    padding: 5px;
    text-align:center;
    /* background: #efe2ba; */
    color: #e98074;
    font-size: 120px;
    font-family: 'Bungee Shade', cursive;
    box-shadow: 10px 5px 5px;
    /* outline-color: #e98074;
    outline-width: 5px;
    outline-style: solid; */
    position: sticky;
    top: 0;
    background-color: #efe2ba;
    z-index: 5;
   
  }


  .reviewAdder {
    text-align: center;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
    /* margin-left: 160px */
  }

  /* .sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:#efe2ba;
    overflow-x: hidden;
    padding-top: 20px;
    outline-color: #e98074;
    outline-width: 5px;
    outline-style: solid;
  } */

  /* .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    background-color: #efe2ba;
    color: black;
    display: block;

  } */

  .editBody {
    display: flex;
    flex-direction: column;
    background-color: #efe2ba;
    height: 100%;
    
}

.newEJS{
  height:100%;
}

.cardEdit{
  display: flex;
  flex-direction: column;
  background-color: #e98074;
  width: 600px;
  height: 400px;
  /* Height: 600px; */ 
  margin: 10px;
  /* padding: 10px; */
  color: black;
  font-size: 15px;
  /* text-align: center; */
  box-shadow: 10px black;
  font-family: 'Poppins', sans-serif;
}