* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100vh;
  width: 100vw;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #efe2ba;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem 3rem;
  box-shadow: 2px 2px 5px black;
  background-color: #ded0a0;
}

.header-h1 {
  font-size: 4rem;
  text-shadow: 2px 2px 2px slategrey;
  text-decoration: none;
  color: black;
}

.header-h1:hover {
  color: rgb(44, 44, 44);
  text-shadow: 2px 2px 2px slategrey;
}

.topHolder {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.infoHeader {
  margin-right: 1rem;
}

.infoHeader>a {
  text-decoration: none;
  font-size: 18px;
  color: black;
  text-shadow: 1px 1px 2px slategrey;
}

.infoHeader>a:hover {
  text-decoration: underline;
  font-size: 19px;
  transform: translate3d(0, -2px, 0);
}


.bi {
  font-size: 1.5rem;
  color: black;
  text-shadow: 1px 1px 2px slategrey;
}

iframe {
  box-shadow: 2px 2px 5px black;
  margin: 2rem;
}

.contact-a {
  text-decoration: none;
  font-size: 18px;
  color: black;
  text-shadow: 1px 1px 2px slategrey;
}

.contact-a:hover {
  text-decoration: underline;
}


.socials {
  display: flex;
  justify-content: space-between;
  width: 100px;
  font-size: 19px;
}

.fa {
  text-decoration: none;
  color: black;
  text-shadow: 1px 1px slategrey;
}

.fa-youtube:hover {
  text-decoration: none;
  color: black;
  text-shadow: 2px 2px 2px red;
  transform: translate3d(0, -2px, 0);
}

.fa-instagram:hover {
  text-decoration: none;
  color: rgb(119, 0, 255);
  text-shadow: 2px 2px 2px rgb(0, 0, 0);
  transform: translate3d(0, -2px, 0);
}

.fa-twitter:hover {
  text-decoration: none;
  color: rgb(0, 110, 255);
  text-shadow: 3px 3px 3px white;
  transform: translate3d(0, -2px, 0);
}


main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  text-align: center;
  width: 100%;
  justify-content: center;
}

main>h2,
.h1 {
  font-size: 2rem;
  text-shadow: 2px 2px 2px slategrey;
  margin: 1rem;
}



.show {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

}

.index-a {
  text-decoration: none;
  color: black;
  text-shadow: 1px 1px 2px slategrey;
  font-size: 2rem;
}

.index-a:hover {
  text-decoration: underline;

}

section {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.card {
  width: 35%;
  margin: 1rem;
  box-shadow: 2px 2px 5px black;
  display: flex;
  flex-direction: column;
  height: 600px;
  justify-content: space-evenly;
  align-items: center;
  background: #ded0a0;
  padding: 1rem;
}

.card-idx {
  width: 400px;
  margin: 1rem;
  box-shadow: 2px 2px 5px black;
  display: flex;
  flex-direction: column;
  height: 350px;
  justify-content: space-between;
  background: #ded0a0;
  padding: 1rem;
}

.idx-bottom {
  display: flex;
  justify-content: space-around;
}

.edit-btn,
.delete-btn {
  text-decoration: none;
  color: black;
  text-shadow: 1px 1px 2px slategrey;
  background-color: rgb(144, 165, 186);
  border-radius: 5px;
  font-size: 16px;
  width: 100px;
  padding: 5px 10px;
  text-align: center;
  border: 2px solid black;
}

.edit-btn:hover,
.delete-btn:hover,
.submit-btn:hover {
  cursor: pointer;
  transform: translate3d(0, -2px, 0);
  text-shadow: 2px 2px 2px slategrey;
  box-shadow: 2px 2px 2px black;
}

.infoBottom-abv {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 1rem;
}

.infoBottom-abv>p {
  margin: 5px 0px;
}

.card-image {
  height: 200px;
  margin-bottom: 1rem;
}

img {
  width: 200px;
  box-shadow: 2px 2px 5px black;
}

img:hover {
  transform: translate3d(0, -2px, 0);
  box-shadow: 2px 2px 2px black;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 400px;
  text-align: left;
}

.cardHeader {
  text-align: center;
}

.middleInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100px;
}


.cardEdit {
  display: flex;
  flex-direction: column;
  background-color: #ded0a0;
  width: 600px;
  padding: 20px;
  margin: 1rem;
  color: black;
  font-size: 18px;
  box-shadow: 0px 1px 10px black;
}

label {
  margin-bottom: 5px;
  text-shadow: 2px 2px 2px slategrey;
}

.containerEdit {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="text"],
input[type="number"],
textarea {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid black;
  border-radius: 1rem;
  margin-bottom: 1rem;
}



.submit-btn {
  text-decoration: none;
  color: black;
  text-shadow: 1px 1px 2px slategrey;
  background-color: rgb(144, 165, 186);
  border-radius: 5px;
  font-size: 16px;
  width: 150px;
  margin: 0 auto;
  padding: 5px 10px;
  text-align: center;
  border: 2px solid black;
  cursor: pointer
}

:focus-visible {
  outline: 1px solid black;
}


footer {
  height: 50px;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ded0a0;
  box-shadow: 2px 2px 5px black;
}

@media (max-width: 700px) {
  header>h1 {
    font-size: 2rem;
  }

  .topHolder {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
